<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>UserServlet</servlet-name>
        <servlet-class>com.controller.UserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProjectServlet</servlet-name>
        <servlet-class>com.controller.ProjectServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ScheduleServlet</servlet-name>
        <servlet-class>com.controller.ScheduleServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MeetingServlet</servlet-name>
        <servlet-class>com.controller.MeetingServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProjectProgressServlet</servlet-name>
        <servlet-class>com.controller.ProjectProgressServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AssessmentServlet</servlet-name>
        <servlet-class>com.controller.AssessmentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PresentationServlet</servlet-name>
        <servlet-class>com.controller.PresentationServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserServlet</servlet-name>
        <url-pattern>/UserServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProjectServlet</servlet-name>
        <url-pattern>/ProjectServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ScheduleServlet</servlet-name>
        <url-pattern>/ScheduleServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MeetingServlet</servlet-name>
        <url-pattern>/MeetingServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProjectProgressServlet</servlet-name>
        <url-pattern>/ProjectProgressServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AssessmentServlet</servlet-name>
        <url-pattern>/AssessmentServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PresentationServlet</servlet-name>
        <url-pattern>/PresentationServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
